<html>

<head>
    <title>Cue Web Editor</title>
    
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
    
    <script src="https://unpkg.com/vue/dist/vue.js"></script>

    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet" type="text/css">

    <script src="https://unpkg.com/vuetify/dist/vuetify.min.js"></script>
<script src="/lib/FileSaver.min.js"></script>
</head>
    
<body>

    <v-app id = "app" dark>
<v-toolbar-title>Cue Web Editor</v-toolbar-title>
         <v-container fluid>
             <v-layout row>
                 <v-flex xs4>
     

        <v-navigation-drawer
        class="pb-0"
        permanent
        absolute
        height="100%"
        dark
                             >
            <v-toolbar-title>Modules
            <v-btn icon><v-icon>insert_drive_file</v-icon></v-btn>
            <v-btn icon
                   @click.native.stop="saveModules"
                   ><v-icon>save</v-icon></v-btn>
                <v-btn icon
                       @click="loadModules"
                       ><v-icon>folder      

                    
                    </v-icon></v-btn>

            </v-toolbar-title>
        <v-layout justify-left>
        <v-list width="100%">
            <v-list-tile dense v-for= "(mod, index) in modules">
         <v-list-tile-content>
            <v-list-tile-title>
                <v-card>
            <v-btn icon><v-icon>edit</v-icon></v-btn>
            <v-btn icon
                   @click.native.stop="removeModule(index)"
                   ><v-icon>delete</v-icon></v-btn>
                     {{mod.name}}
                </v-card>
            </v-list-tile-title>
            </v-list-tile-content>
                </v-list-tile>
        </v-list>
        {{modules.length === 0 ? "Please add modules" :""}}
            
            </v-layout>
            
        <v-btn 
               fab 
               large 
               @click.native.stop="newModule.dialog = true"
               bottom
               >
            <v-icon>add</v-icon>
            
        </v-btn>  
            
        </v-navigation-drawer>
   
    <v-dialog v-model="newModule.dialog">
      <v-card>
        <v-card-title class="headline">Add a New Module</v-card-title>
          <v-flex style="margin: 0 20px 0 20px">
         <v-layout row>
          <v-flex xs8>
            <v-text-field
              v-model="newModule.name"
              label="Module Name"
            ></v-text-field>
              <v-text-field
              v-model="newModule.ensemble"
              label="Ensemble Name"
            ></v-text-field>
          </v-flex>
        </v-layout>
              </v-flex>
          
         <v-card-actions>
             <v-btn @click.native.stop="newModuleCreate">Create New Module</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
                 </v-flex>
                 </v-layout>
    </v-container>

           
        
        


    </v-app>
    
</body>    
    

<script src="/lib/thisVue.js"></script>
    
</html>

